# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Ignore Intermediate folders though
**/Intermediate/*
**/Generated/*

# Don't ignore .gitignore and code
!.gitignore
!*.uplugin
!*.cs
!*.h
!*.hpp
!*.c
!*.cpp
!*.cc
!*.inc
!*.inl
